body {
    margin: 0;
    font-family: "Baloo Tamma 2", sans-serif;
    background: #252525;
}

.navigation {
    background: rgb(193, 219, 242);
    border-top: 7px solid rgb(7, 107, 166);
    padding: 12px 35px !important;
    align-items: center;

}

.brand-logo {
    height: 25px;
    width: auto;
}

.navigation-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 450;
    color: #083565 !important;
    gap: 25px
}

.navigation-link:hover {
    color: #031a31;
}

html {
    scroll-behavior: smooth;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.text-navy {
    color: rgb(20, 70, 157);
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("beach.jpg");
    background-attachment: fixed;
    background-size: cover;
    max-width: 10000px;
    font-family: cursive;

}