body {
    background-image: linear-gradient(135deg, #ff9966 2%, #4286f4 50%);
    font-family: 'Baloo Tamma 2', serif;
}

.about {
    background-color: rgba(0, 0, 0, 0, 6);
    border-radius: 15px;
    margin-top: 50px;
}

.m-heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0;
}

.btn-outline-warning {
    border-width: 10 px;
    font-weight: 600;
    padding: 10px 25px;
    transition: all 0.3s ease;
}

.btn-outline-warning:hover {
    background-color: #ffc107;
    transform: scale(1.05);

}