body {
    background: #2b2b2b;
    font-family: "Barlow TT", sans-serif;
}

#projects h1 {
    font-weight: 900;
}

.card {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .35);
}

.card-img-top {

    padding: 18px;

    height: 13rem;
    object-fit: contain;
}

.btn-warning {
    font-weight: 700;
    font-size: .8rem;
    border-radius: 3px;
}